


.en-tete
{

    background-color: antiquewhite;
    display: flex; 
    width:100%;
    justify-content: space-between ;
}

.menu-nav ul {
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 0;
    height: 100%;

}

.menu-nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    list-style: none;
    text-decoration: none;
    
}
#header a{
    border-top: 10px  solid transparent; }
#header a:hover
{

    color: #0065FC;
    border-top: 4px solid #0065fc;

}


    #logo{
        width:50%;
    }
    
    
