
.Hébergement
{
    width: 70%;
    height: 100%;
    display: flex;
    padding-left: 5px;
    flex-direction: column;
    background-color:#F2F2F2;
    border-radius: 15px 15px 15px 15px;
}




.card-heb-haut
{
   display: flex;
   flex-direction: row;
   justify-content: center;

}
.card-heb-bas
{

    display: flex;
   flex-direction: row;
   justify-content: center;
}

.card-1
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
}
.card-heb
{    
    width: 70%;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    margin: 20px; 
    text-align: left;
    align-items: flex-start;   
}

 .legend
{
    height: 40%;
    font-size: 10px;
    align-items: flex-start;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.nom-hb
{
    margin: 0;
}
.nuit-heb
{
    color: black;
}
.prix
{
    font-weight: bold;
}
.étoiles
{
    color: blue;
}
.fa
{
    font-family: "Font Awesome 5 Free";
}
.fas
{
    font-weight: 900;
}
 .img-ratio
{
	border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.nom-hb .nuit .prix .étoiles
{
    text-decoration: none;
}

.gray-star{ color: #e0d9d9;}