body
{
    width: 100%;
    padding: 0;
    background-color: aqua;
}
#bloc_page
{
    width: 100%;
    margin: 0;

    background-color: rebeccapurple;
}
#header, section{width: 90%;margin-left: auto; margin-right: auto;}

#titre-principal
{max-width: 900px;
width: 900px;}



.ancrepage{ color: #AAA}


.menu-h a:link { text-decoration:none;} 

#liste-footer a:link{text-decoration: none;}
.ancre1
{
    margin-right: 100px;
    bottom: 0;
    text-decoration: none;
    list-style-type: none;
    
}


.menu-h a
{
    border:   white ;
    padding-top: 0px;
}
.card-heb:hover
{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-pop:hover
{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),0 4px 20px 0 rgba(0, 0, 0, 0.19); 
}
#activ a:hover
{
    color: white;
    border:   white ;
    box-shadow: 20px;

 
}
.lien:hover
{
    border: none !important;
    color: #AAA;
   
}
#menu2
{
    width: 99%;
}
    